<!DOCTYPE html>
<html lang="tr">
<head>
 
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700&amp;subset=latin-ext" rel="stylesheet">
  <link href="https://bootswatch.com/4/cyborg/bootstrap.min.css" rel="stylesheet" />
  
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/v/bs4/dt-1.10.16/cr-1.4.1/r-2.2.0/datatables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js" integrity="sha256-zG8v+NWiZxmjNi+CvUYnZwKtHzFtdO8cAKUIdB8+U9I="
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="/css/genel.css" />

	<link rel="icon" href="https://cdn.discordapp.com/attachments/753162401154859038/754744560176857188/fe39c5bdcab153161cf55de0c780b41b.png">
	<title>Mon Bot List</title>
  <style>
    .cities {
    background-color: "#FF3000";
    color: white;
    margin: 20px;
    padding: 20px;
    } 
		.navigation ul {
			list-style-type: none;
		}
		.navigation ul a {
			text-decoration: none;
		}
		.navigation ul li a {
			display: block;
		}
		.navigation ul li {
			float:left;
			width:150px;
			padding:8px;
			background: white;
			border-radius: 42px;
			margin-right:8px;
			color: white;
			text-align: center;
		}
		.navigation ul li:hover {
			background: Bisque;
			border-radius: 0px;
			transition-duration: 1.5s;
		}
		.navigation li ul {
			display:none;
			position:absolute;
		}
		.navigation li:hover ul {
			display:block;
			margin-top:9px;
			margin-left:-49px;
		}
		.navigation li ul li {
			clear:both;
			display : block;
			border-radius: 0px;
			padding: 3px;
			cursor: pointer;
		}
		.navigation li ul li a {
			display: block;
		}
		.basarili {
			background:url(http://4.bp.blogspot.com/-jeu83lGlWHs/T5uOBF3BUmI/AAAAAAAACn4/NbgkRV3RqNM/s1600/buton-sprite.png) #eefec2 no-repeat left;
			background-position: left -11px;
			height:60px;
			line-height:60px;
			padding:0 0 0 60px;
			margin:0 0 10px 0;
			border:1px solid #badc5d;
			-webkit-border-radius: 3px;  
			-moz-border-radius: 3px;  
			border-radius: 3px;
		}
		.hata {
			background:url(http://4.bp.blogspot.com/-jeu83lGlWHs/T5uOBF3BUmI/AAAAAAAACn4/NbgkRV3RqNM/s1600/buton-sprite.png) #ffe59d no-repeat left;
			background-position: left -11px;
			height:60px;
			line-height:60px;
			padding:0 0 0 60px;
			margin:0 0 10px 0;
			border:1px solid #c8b26f;
			-webkit-border-radius: 3px;  
			-moz-border-radius: 3px;  
			border-radius: 3px;
		}
    .x a {
      color:#999;
    }
    .x a:hover {
      color:#fff;
      background-color:transparent;
    }
	</style>
  <script type="text/javascript">
			function myFunction() {
				var x = document.getElementById("myTopnav");
				if (x.className === "topnav") {
					x.className += " responsive";
				} else {
					x.className = "topnav";
				}
			}
</script>
</head>
 
<!--
     <a id="top" name="top"></a>
 
<div class="topnav" id="myTopnav">
			<a href="/" class="active">Ana Sayfa</a>
      <a href="/botlar">Botlar</a>
			<a href="/hakkimizda">Hakkımızda</a>
			<% if (!user) { %>
      <a href="/giris">Giriş Yap</a>
      <% } else { %>
      <a href="/botekle">Bot Ekle</a>
			<a href="/cikis">Çıkış Yap</a>
			<a href="/kullanici/<%=user.id%>">
      <img src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.png?size=32" width="25" height="25" class="d-inline-block align-middle rounded-circle" alt="Kullanıcı Avatar">
      <%=user.username%>
      </a>
      <% if (bot.yetkililer.includes(user.id) === true) { %>
      <a href="/yetkili">Yetkili Paneli</a>
      <% } %>
      <% } %>	
			<a href="javascript:void(0);" class="icon" onclick="myFunction()">
				<i class="fa fa-bars"></i>
			</a>
		</div> -->

    <body bgcolor="#222">
	    <nav>
        <ul class="menu">
        <img src="https://cdn.discordapp.com/attachments/753162401154859038/754744560176857188/fe39c5bdcab153161cf55de0c780b41b.png" alt="Mon Bot List" height="42" width="42">
            <li class="logo"><a href="/">Mon Bot List</a></li>
          <li class="item"><a href="/">Anasayfa</a></li>
          <li class="item"><a href="/botlar">Botlar</a></li>
            <li class="item"><a href="/botekle">Bot Ekle</a></li>
          <li class="item"><a href="/sertifika">Sertifika ?</a></li>
          <li class="item"><a href="/hakkimizda">Hakkımızda</a></li>
           
    
      		<% if (!user) { %>
   <li class="item button"><a href="/giris">Giriş Yap</a>
      <% } else { %>
      	<li class="item button"><a href="/kullanici/<%=user.id%>/profil">
      <img src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>.png?size=32" width="25" height="25" class="d-inline-block align-middle rounded-circle" alt="Kullanıcı Avatar">
      <%=user.username%>
      </a>
     <% if (bot.yetkililer.includes(user.id) === true) { %>
      <li class="item button"><a href="/yetkili">Yetkili Paneli</a>
      <% } %>
     
		<% } %>
           </ul>
    </nav>

  </body>
  
<style>
  
.testimonials{
  padding: 120px 0;
  background: #222;
  color: #434343;
  text-align: center;
  
}
.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
  
}

.border{
  width: 220px;
  height: 5px;
  background: #22fff0;
  margin: 26px auto;
  
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #222; 
}
.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
  
}
.testimonial{
  background: #bebebe;
  padding: 30px;
  
}
.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars{
  color: #6ab04c;
  margin-bottom: 20px;
}


@media screen and (max-width:960px) {
.col{
  flex: 100%;
  max-width: 80%;
  
}
}

@media screen and (max-width:600px) {
.col{
  flex: 100%;
  max-width: 100%;
}
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
body {
  font-family: sans-serif;
}
nav {
  background: #222;
  padding: 5px 20px;
}
ul {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.logo a:hover {
  text-decoration: none;
}
.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}
.logo a,
.toggle a {
  font-size: 20px;
}
.button.secondary {
  border-bottom: 1px #444 solid;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}
.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}

/* Navbar Toggle */
.toggle {
  cursor:pointer;
}
.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.bars:before,
.bars:after {
  background: #999;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.bars:before {
  top: 5px;
}
.bars:after {
  top: -5px;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
      justify-content: center;
  }

  .logo {
      flex: 1;
  }

  .item.button {
      width: auto;
      order: 1;
      display: block;
  }
  .toggle {
      order: 2;
  }
  .button.secondary {
      border: 0;
  }
  .button a {
      padding: 7.5px 15px;
      background: teal;
      border: 1px #006d6d solid;
      border-radius:50em;
  }
  .button.secondary a {
      background: transparent;    
  }
  .button a:hover {
      text-decoration: none;
      transition:all .25s;
  }
  .button:not(.secondary) a:hover {
      background: #006d6d;
      border-color: #005959;
  }
  .button.secondary a:hover {
      color: #ddd;
  } 
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
      display: block;
      width: auto;
  }
  .toggle {
      display: none;
  }
  .logo {
      order: 0;
  }
  .item {
      order: 1;
  }
  .button {
      order: 2;
  }
  .menu li {
      padding: 15px 10px;
  }
  .menu li.button {
      padding-right: 0;
  }
}

.nblana{
  padding: 20px 0;
  color: #434343;
  float: left;
}
.nblin{
  max-width: 1200px;
  margin: 20px;
  overflow: hidden;
  padding: 0 20px;
  float: left;
}

.borders{
  width: 400px;
  height: 2px;
  background: Black;
  margin: 0px auto;
  float: left;
}
input[type=checkbox] + label {
  display: block;
  margin: 2.4em;
  cursor: pointer;
  padding: 2em;
  float: left;
  
}

#box {
    max-width: 350px;
}
 
#search {
    width: 350px;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 4px;
    font-size:18px;
    padding: 7px 100px 7px 10px;
    -moz-transition: width 0.4s ease-in-out;
    -o-transition: width 0.4s ease-in-out;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
 
#search:focus {
    width: 100%;
}
}
</style>
  <div class="container">